@inherits LayoutComponentBase
@inject NavigationManager NavigationManager
<style>
    .mud-input-outlined-border {
        border-radius: 24px !important;
    }
</style>
<MudThemeProvider Theme="_theme" />
<MudPopoverProvider />
<MudDialogProvider />
<MudSnackbarProvider />
<MudLayout >
    <AuthorizeView>
        <Authorized>
            <MudAppBar Elevation="1" Style="background-color:white">
                <MudIconButton Icon="@Icons.Material.Filled.AllInclusive"
                                Edge="Edge.Start"
                               OnClick="@((e) => DrawerToggle())" />
                               <MudImage Width="200" Src="Images/SVG.svg"></MudImage>
                @* <MudText Typo="Typo.h5" Class="ml-3">HopSkills</MudText> *@
                <MudSpacer />
                @* <MudSwitch @bind-Value="_isDarkMode" 
                Color="Color.Primary" Class="ma-4" T="bool" Label="Toggle Light/Dark Mode" /> *@
            </MudAppBar>
            <MudDrawer @bind-Open="_drawerOpen" ClipMode="DrawerClipMode.Always" Elevation="2">
                <NavMenu />
            </MudDrawer>
        </Authorized>
    </AuthorizeView>
    <MudMainContent>
        <MudContainer  Style="min-height:100vh;
min-width:100vw; background-color: #F3FBFF">
            @Body
        </MudContainer>
    </MudMainContent>
</MudLayout>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>

@code {
    private bool _drawerOpen = true;
    private MudTheme _theme = new();

    private void DrawerToggle()
    {
        _drawerOpen = !_drawerOpen;
    }

}





