@inherits LayoutComponentBase
@inject NavigationManager NavigationManager
<style>
    .mud-input-outlined-border {
        border-radius: 24px !important;
    }

    .hopskills-purple {
        background-color: #7E3FF2 !important;
    }

    .hopskills-purple-text {
        color: #7E3FF2 !important;
    }

    .hopskills-sidebar {
        width: 250px;
        background-color: white;
    }

    .hopskills-main {
        background-color: #F8F7FA;
    }

    .hopskills-card {
        border-radius: 8px;
    }

    .hopskills-stat-card {
        height: 100px;
    }

    .mud-appbar {
        z-index: 1400; /* Higher than the drawer's z-index */
    }
</style>
<MudThemeProvider Theme="customTheme" />
<MudPopoverProvider />
<MudDialogProvider />
<MudSnackbarProvider />
<MudLayout>
    <AuthorizeView>
        <Authorized>
            <MudAppBar Elevation="1" Style="background-color:white">
                               <MudImage Width="200" Src="Images/SVG.svg"></MudImage>
                <MudIconButton Icon="@Icons.Material.Filled.Notifications"
                               Color="Color.Dark" Edge="Edge.End" />
                <MudIconButton Icon="@Icons.Material.Filled.AccountCircle"
                               Color="Color.Dark" Edge="Edge.End" />
            </MudAppBar>
            <MudDrawer @bind-Open="_drawerOpen" 
            ClipMode="DrawerClipMode.Always" 
            Variant="DrawerVariant.Mini" OpenMiniOnHover="true" Elevation="2">
                <NavMenu />
            </MudDrawer>
        </Authorized>
    </AuthorizeView>
    <MudMainContent>
        <MudContainer MaxWidth="MaxWidth.Large" Class="h-screen w-screen" Style="height:100vh;
width:100vw;  align-content:center;">
            @Body
            <MudScrollToTop Style="z-index:1500">
                <MudFab Color="Color.Primary" StartIcon="@Icons.Material.Filled.ArrowCircleUp" />
            </MudScrollToTop>
        </MudContainer>
    </MudMainContent>
</MudLayout>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>

@code {
    private bool _drawerOpen = false;
    private MudTheme _theme = new();
    private MudTheme customTheme = new MudTheme()
        {

            PaletteLight = new PaletteLight()
            {
                Primary = "#8a6eae",
                Secondary = "#6e567c",
                AppbarBackground = "#8a6eae",
                Background = "#ffffff",
                DrawerBackground = "#ffffff",
                DrawerText = "rgba(0,0,0, 0.7)",
                Success = "#06d79c"
            }
        };
    private void DrawerToggle()
    {
        _drawerOpen = !_drawerOpen;
    }

}





